body
{
    perspective: 250px;
    transform-style: preserve-3d;
}

.Wall
{
    height: 100px;
    transform-origin: 0% 0% 0%;
    width: 100px;
}

.Bottom
{
    background: Gray;
    transform: rotateX(90deg);
}

.Left
{
    transform: rotateY(90deg);
}

.Left, .Right
{
    background: DarkGray;
}

.Right
{
    transform: rotateY(-90deg);
}

.Top
{
    background: LightGray;
    transform: rotateX(-90deg);
}
