body
{
    align-items: center;
    display: flex;
    justify-content: center;
    perspective: 250px;
    perspective-origin: center -50px;
    transform-style: preserve-3d;
}

.Wall *
{
    height: 100px;
    transform-origin: 0% 0% 0%;
    width: 100px;
}

.Bottom
{
    background: Gray;
    transform: rotateX(90deg);
}

.Left
{
    transform: rotateY(90deg);
}

.Left, .Right
{
    background: DarkGray;
}

.Right
{
    transform: rotateY(180deg);
}

.Top
{
    background: LightGray;
    transform: rotateX(-90deg);
}
