body
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    padding: auto;
    perspective: 250px;
    perspective-origin: center center;
    transform-style: preserve-3d;
}

div
{
    height: 100px;
    position: absolute;
    transform-origin: 0% 0% 0%;
    width: 100px;
}

.Bottom
{
    background: Gray;
    transform: rotateX(90deg);
}

.Left
{
    transform: rotateY(90deg);
}

.Left, .Right
{
    background: DarkGray;
}

.Right
{
    transform: rotateY(270deg);
}

.Top
{
    background: LightGray;
    transform: rotateX(-90deg);
}
